/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
:root {
    --main-color:rgb(204 0 0);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: initial;
}
ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
  /* Medium */
    @media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
  /* Large */
    @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

div > .main-heading {
    text-align: center;
    font-size: 40px ;
    margin-bottom: 50px;
    padding-bottom: 20px;
    font-weight: 400;
    position: relative;
}
div > .main-heading::after {
    content: "";
    position: absolute;
    bottom: 00px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
}
/* end Global Rules */
.background {
    background-attachment:fixed;
    background-image: url(../img//computer-programming.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.background::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
/* start header  */
header {
    height: 60px;   
    align-items: center;
}
@media (max-width:991px) {
    header {
        height: 120px;
    }
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header .logo {
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 600;
    z-index: 0;
}
header .logo h2 a {
    color: white;
}
header .logo span {
    color:var(--main-color) ;
}
header .button {
    display: none;
}
header .button:hover .nav{
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
}
header .nav ul {
    display: flex;
}
header .nav ul li {
    padding: 10px;
}
header .nav ul li a{
    color: white;
}
header .nav ul li{
    position: relative;
}
header .nav ul .active::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    height: 3px;
}
@media (max-width:767px) {
    header .container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        height: 120px;
        font-size: 14px;
    } 
    header .logo {
        margin-bottom: 10px;
        flex-basis: 100%;
        text-align: center;
    }    
}
/* end header  */
/* start landing  */
.landing {
    height:calc(100vh - 60px);
    position: relative;
}
.landing .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.landing .text h3 {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.landing .text p {
    font-size: 40px;
    font-weight: 600;
    color: white;
}
.landing .text p span:first-child {
    color: var(--main-color);
}
.landing .text p span:last-child {
    position: relative;
    animation: change-color  2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.landing .text p span:last-child::after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 50%;
    right:-20px;
    width: 3px;
    background-color: var(--main-color);
    animation: pointer 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction:alternate-reverse;
}

@keyframes change-color {
    to {
        color: var(--main-color);
    }
}
@keyframes pointer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.landing .text .contant svg {
    padding: 10px;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    border-radius: 50%;
    margin: 0 10px;
    color: white;
}
.landing .text .contant svg:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: var(--main-color);
}
.down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    font-size: 35px;
    color: var(--main-color);
    animation: updown 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes updown {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(-20px);
    }
}
/* end landing  */
/* start about  */
.About {
    padding: 60px 0;
}

.About .image {
    position: relative;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
    
.About .image img {
    width: 400px;
    transition: 1s;
}
.About .image::after {
    content: '';
    position: absolute;
    top: -40px;
    left: -50px;
    width: 400px;
    height: 400px;
    z-index: -1;
    background-color: black;
}
.About .text {
    padding: 10px;
    align-self: center;
}
.About .text h3 {
    text-transform: capitalize;
    font-size:20px ;
    margin-bottom: 10px;
}
.About .text p {
    color: #777;
    margin-bottom: 10px;
    line-height: 1.8;
}
.About .text a {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 100px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
}
.About .text a:hover {
    background-color: white;
    color: var(--main-color);   
    border: 1px solid;
}
@media (max-width:767px) {
    .About .image::after {
        display: none;
    }
    .About .image img{
        width: 80%;
    }
}
.About .card {
    display: flex;
    background-color: #ddd;
    height: 150px;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}
.About .card svg {
    font-size: 30px;
    
}
/* end about  */
/* start Service  */
.Service {
    padding: 60px 0;
    background-color: #f5f5f5;
}
.Service .serv {
    text-align: center;
    padding: 20px;
    height: 300px;
    background-color: #e9e9e9;
    border-radius: 20px;
    box-shadow: -1px 3px 10px rgb(0 0 0 / 20%);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
@media (min-width:768px) and (max-width:991px) {
    .Service .serv {
        max-width: 340px
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .Service .serv {
        max-width: 300px
    }
}
@media (min-width:1200px) {
    .Service .serv {
        max-width: 350px
    }
}
.Service .serv svg {
    font-size: 40px;
    position: relative;
    bottom: -12px;
    color: var(--main-color);
}
.Service .serv span {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
    color: var(--main-color);
    display:inline-block;
    position: relative;
}
.Service .serv span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: transparent dashed 2px;
    border-radius: 50%;
    top: -1px;
    left: -1px;
    transform: translate(-50% , -50%);
    animation: rotate 5s linear infinite ;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.Service .serv h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.Service .serv p {
    color: #777;
    line-height: 1.7;
    height: 150px;
    position: relative;
    bottom: -150px;
    transition: 0.5s;
    padding: 0 6px;
}
.Service .serv .serv-text{
    position: relative;
    top: 50px;
    transition: 0.5s;
}
.Service .serv:hover .serv-text {
    top: 0;
}
.Service .serv:hover p {
    bottom: 0; 
}
.Service .serv:hover {
    box-shadow: -1px 3px 10px rgb(0 0 0 / 20%), -1px 3px 20px rgb(0 0 0 / 25%);
    transform: translateY(-10px);
}
.Service .serv:hover span {
    background-color: white;
    top: 0;
    transition: 0.5s;
}
.Service .serv:hover span::after {
    border-color: var(--main-color);
    transition-delay: 0.6s;
}
/* end Service  */
/* start Project  */
.row>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.Project {
    padding: 60px 0;
    height: 90vh; 
}
@media (max-width:767px) {
    .Project {
        height: 900px;
    }
}
.Project .proj {
    text-align: center;
    height: 300px;
    background-color: #e9e9e9;
    border-radius: 20px;
    box-shadow: -1px 3px 10px rgb(0 0 0 / 20%);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
@media (min-width:768px) and (max-width:991px) {
    .Project .proj {
        max-width: 320px
    }
    .Project {
        height: 90vh; 
    }
}
.Project .proj:hover {
    box-shadow: -1px 3px 10px rgb(0 0 0 / 20%), -1px 3px 15px rgb(0 0 0 / 25%);
    transform: translateY(-30px);
    height: 350px;

}
.Project .proj .image {
height: 220px;
position: relative;
}
.Project .proj img {
    width: 100%;
    height: 100%;
}
.Project .image .link:first-of-type {
position: absolute;
top: 15px; 
right: -35px;
transition: 0.5s;
align-items: center;
}
.Project .image .link:nth-of-type(2) {
position: absolute;
top: 65px; 
right: -35px;
transition: 0.5s;
}
.Project .proj:hover .image .link:first-of-type,
.Project .proj:hover .image .link:nth-of-type(2) {
    right: 10px;
}
.Project .image .link svg {
    font-size: 20px;
    color: var(--main-color);
}
.Project .proj .proj-text {
    padding: 0 10px;
    text-align: left;
    height: 80px;
}
.Project .proj .proj-text h3 {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    transition:  0.5s ;
}
.Project .proj:hover .proj-text h3 {
    margin-top: 15px;
}
.Project .proj .proj-text span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    margin-bottom: 15px;
    display: block;
    text-align: end;
    position: relative;
    top: -18px;
}
.Project .proj .proj-text p {
    color: #777;
    position: relative;
    bottom: -50px;
    transition: 0.5s;
}
.Project .proj:hover .proj-text p {
    bottom: 5px;
}

/* end Project  */
/* start footer  */
footer {
    height: 80px;
    background-color: black;
}
footer .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
footer p {
    color: white;
}
footer p span {
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 600;
}
footer p span span {
    color: var(--main-color);
    font-weight: 600;
}
footer div svg {
    padding: 10px;
    font-size: 20px;
    width: 25px;
    height: 25px;
    transition: 0.3s;
    border-radius: 50%;
    margin: 0 10px;
    color: white;
}
footer div svg:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: var(--main-color);
}
@media (max-width:767px) {
    footer .container {
        flex-direction: column;
        justify-content: center;
    }
    footer {
        height: 100px;
    }
}
/* end footer  */
